/* Приховуємо елемент спочатку */
.hidden {
    display: none;
}

/* Стилі для навігації */
.header {
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #D9D9D9;
    color: black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Логотип (може бути текст або зображення) */
.logo h1 {
    font-size: 1.8em;
    margin: 0;
}

/* Список навігації */
.nav-list {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Посилання навігації */
.nav-list li {
    color: black;
    text-decoration: none;
    font-size: 1em;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

/* Ефект при наведенні на елементи меню */
.nav-list li a:hover {
    background-color: #ccf2f2;
}

