.main-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
    padding: 20px;
    min-height: 100vh;
  }

  .categories {
    padding: 20px;
  }

  .Widget {
    background-color: #ccf2f2;
    padding: 20px;
    border-radius: 10px;
    max-height: 360px;
  }
  
  .Recommended {
    grid-column: span 2;
    background-color: #D9D9D9;
    padding: 20px;
    margin-top: 20px;
  }